body {
  font-family: "Garamond", serif;
  background-color:  #d7ffb3; 
  color: #001a00;
  font-size: 16px;
}
h1, h2, h3, h4, h5, h6 {
  color: #1a53ff;  
}


.navbar .navbar-brand {
  font-size: 1rem;
  color: #1a53ff !important;
  font-weight: 500;
  text-decoration: none;
}

.navbar {
  background-color: #bfff80; 
  border-bottom: 4px solid #bfff80; 
}


.navbar-nav {
  display: flex !important;
  flex-direction: row !important;
  gap: 1.5rem;
}

.navbar-nav .nav-item {
  float: none;
}

.dropdown_menu {
  background-color: #d7ffb3;
}

.dropdown_menu .dropdown-item {
  color: black !important;
}


.dropdown_menu .dropdown_item:hover {
  background-color: grey;
}

